<!DOCTYPE HTML>
<html>
    <head>
        <style>
            img {
                border: 5px solid #555;
            }
        </style>
        
    </head>
    <body>
        <h1>Team 7 SQLI Defense</h1>
        <a href="/register"><img src="images/reg.png"></a>
        <a href="/unsafe/register"><img src="images/reg-unsafe.png"></a><br>
        <!-- <a href="/login"><img src="images/login.png"></a> -->
        <!-- <a href="/unsafe/login"><img src="images/login-unsafe.png"></a> -->
    </body>
</html>