<h1 style='text-align:center;'>you will be hacked in 3 seconds!</h1>
<script>
    setTimeout(function() { 
        window.location.href = "https://www.youtube.com/watch?v=o-YBDTqX_ZU&ab_channel=MusRest";
    }, 3000);
</script>